body {
    background-color: var(--fond);
    margin: 0;
    padding: 0;
}

p {
    font-family: var(--text);
}

h1 {
    font-family: var(--text);
}

h2 {
    font-family: var(--text);
    font-weight: normal;
}

.presentation {
    margin-top: 83px;
    margin-bottom: 50px;
    margin-left: 15px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.article-title-cadre{
    display: flex;
    position: absolute;
    align-items: center;
    width: 350px;
    height: 80px;
    background-color: white;
    margin-top: -104px;
}

.article-title {
    margin-left: 30px;
    font-size: var(--heading1);
}

.article-text {
    margin-left: 15px;
    max-width: 355px;
}

.article-intro {
    font-style: italic;
}

.article-heading-cadre {
    background-color: var(--tonique);
    display: flex;
    align-items: center;
    padding-right: 20px;
    max-width: fit-content;
    color: white;
}

.article-heading {
    
    font-size: var(--text);
    font-weight: bold;
    margin-left: 15px;
}

.article-point {
    padding-left: 15px;
    padding-right: 10px;
    border-bottom: 2px solid var(--tonique);
    max-width: fit-content;
}

figcaption {
    font-family: var(--text);
    font-size: var(--figcaption);
}

.article-recomand    {
    text-align: center;
}

.article-trait {
    background-color: var(--tonique);
    text-align: center;
    width: 348px;
    border: 1px solid var(--tonique);
    margin-top: 20px;
    margin-bottom: 20px;
}

.projet-presentation {
    margin-top: 83px;
    margin-bottom: 30px;
}

.projet-item {
    font-family: var(--text);
    padding-bottom: 15px ;
}

.about-presentation {
    margin-top: 83px;
}

.about-end {
    margin-bottom: 345px;
}

.contact-title {
    font-family: var(--text);
    font-size: var(--heading1);
    margin-top: 83px;
    margin-left: 20px;
}

.contact-presentation {
    margin-top: -20px;
    margin-left: 20px;
}

.contact-trait {
    border: 1px solid black;
    width: 350px;
}

.error-text {
    text-align: center;
    margin-top: 83px;
}

.error-error {
    text-align: center;
    font-size: var(--heading1);
    font-weight: bold;
}