.header-nav {
    z-index: 2;
    margin-top: 53px    ;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all .4s ease-in-out;
    background-color: var(--fond);
    background-image: url('/public/img/pomme_noire.svg');
    background-position: 90% 100% ;
    background-size: 150%;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menu--open {
    visibility: visible;
    opacity: 1;
}

.header-link {
    color: black;
    font-family: var(--text);
    font-size: var(--heading1);
    margin-top: 40px;
}